<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDAO">
  <insert id="insertBoard">
  	insert into board(bd_title, bd_content, bd_me_id, bd_ori_num, bd_depth)
		select #{b.bd_title}, #{b.bd_content}, #{b.bd_me_id}, ifnull(max(bd_num),0) + 1, 
			1 from board
  </insert>
  
  <select id="selectBoardList" resultType="kr.green.spring.vo.BoardVO">
  	select * from board 
  		where bd_del = 'N' 
  		<if test="cri.searchType == 'all'">
  		and (bd_title like concat('%', #{cri.search} ,'%') or bd_me_id like concat('%',#{cri.search} ,'%'))
  		</if>
  		<if test="cri.searchType != 'all'">
  		and ${cri.searchType} like concat('%',#{cri.search} ,'%')
  		</if>
  		order by bd_num desc 
  		limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  
  <update id="updateViews">
  	update board
  		set bd_views = bd_views+1
  		where bd_num = #{bd_num}
  </update>
  <select id="selectBoard" resultType="kr.green.spring.vo.BoardVO">
  	select * from board where bd_num = #{bd_num}
  </select>
  <update id="updateBoard">
  	update board
  		set bd_title = #{b.bd_title}, bd_content = #{b.bd_content}, bd_up_date = now()
  		where bd_num = #{b.bd_num}
  </update>
  <update id="deleteBoard">
  	update board
  		set bd_del = #{bd_del}
  		where bd_num = #{bd_num}
  </update>
  <select id="selectTotalCount" resultType="int">
  	select count(*) from board where bd_del = 'N' 
  		<if test="cri.searchType == 'all'">
  		and (bd_title like concat('%', #{cri.search} ,'%') or bd_me_id like concat('%',#{cri.search} ,'%'))
  		</if>
  		<if test="cri.searchType != 'all'">
  		and ${cri.searchType} like concat('%',#{cri.search} ,'%')
  		</if>
  </select>
</mapper>










