<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.lg.dao.BoardDAO">
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="bd_num">
		insert into board(bd_type,bd_title, bd_content, bd_secret, bd_pr_code, bd_me_email, bd_ori_num)
		<if test="bd_ori_num == 0">
			select #{bd_type},#{bd_title},#{bd_content},#{bd_secret},#{bd_pr_code},#{bd_me_email},
				ifnull(max(bd_num),0)+1 from board
		</if>
	</insert>
	<select id="selectBoardList" resultType="kr.green.lg.vo.BoardVO">
		select * from board
			where bd_type = #{bd_type} 
			<if test="bd_type == 'NOTICE'">
			and bd_title like concat('%',#{cri.search},'%')
			</if>
			<if test="bd_type == 'QNA'">
			and bd_pr_code like concat('%',#{cri.search},'%')
			</if>
			order by bd_ori_num desc, bd_num asc
			limit #{cri.pageStart}, #{cri.perPageNum} 
	</select>
	<select id="selectBoardTotalCount" resultType="int">
		select count(*) from board
			where bd_type = #{bd_type} 
			<if test="bd_type == 'NOTICE'">
			and bd_title like concat('%',#{cri.search},'%')
			</if>
			<if test="bd_type == 'QNA'">
			and bd_pr_code like concat('%',#{cri.search},'%')
			</if>
	</select>
	<select id="selectBoard" resultType="kr.green.lg.vo.BoardVO">
		select * from board where bd_num = #{bd_num}
	</select>
	<delete id="deleteBoard">
		delete from board where bd_num = #{bd_num}
	</delete>
	<update id="updateBoard">
		update board set
			bd_title = #{bd_title},
			bd_content = #{bd_content},
			bd_secret = #{bd_secret}
		where bd_num = #{bd_num}
	</update>
	<insert id="insertFile">
		insert into file(fi_name, fi_ori_name, fi_bd_num) values(#{fi_name}, #{fi_ori_name}, #{fi_bd_num})
	</insert>
	<select id="selectFileList" resultType="kr.green.lg.vo.FileVO">
		select * from file where fi_bd_num = #{bd_num}
	</select>
	<select id="selectFile" resultType="kr.green.lg.vo.FileVO">
		select * from file where fi_num = #{fi_num}
	</select>
	<delete id="deleteFile">
		delete from file where fi_num = #{fi_num}
	</delete>
</mapper>

